<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
       <Configuration>
        <!--
            Breakdown of below expression:
                [App.Views]*                => 04_model_view_controller/App/Views (*.cshtml)
                [Proto]*                    => 05_grpc/Proto/ (generated *.cs)
                [Blazor]Blazor.Shared.*     => 07_blazor/Blazor/Shared (*.razor)
                [Blazor]Blazor.Pages.*      => 07_blazor/Blazor/Pages (*.razor)
                [Blazor.Views]*             => 07_blazor/Blazor/Areas/Identity/Pages (*.cshtml)
        -->
        <Exclude>[App.Views]*,[Proto]*,[Blazor]Blazor.Shared.*,[Blazor]Blazor.Pages.*,[Blazor.Views]*,[Microsoft.AspNetCore.Components.Testing]*,[Spa]Spa.Pages.*,[Spa.Pages]*,[Spa.Views]*</Exclude>
       </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
